# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

build/
prefs/config.xml
setup.py

*.bat
*.dct
*.svg
*.ttf
